SapSoapCardWriter.GUI/Service References/NakCardService/NakCardService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60108/NakCardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SapSoapCardWriter.BusinessLogic.SapService" />
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SapSoapCardWriter.BusinessLogic.SapService" minOccurs="0" name="ValidateUserResult" nillable="true" type="q1:LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SapSoapCardWriter.BusinessLogic.SapService" minOccurs="0" name="GetCardDataResult" nillable="true" type="q2:CardData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportSuccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportSuccessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SapSoapCardWriter.BusinessLogic.SapService" minOccurs="0" name="GetEventsResult" nillable="true" type="q3:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCardToEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SapSoapCardWriter.BusinessLogic.SapService" minOccurs="0" name="eventData" nillable="true" type="q4:EventData" />
        <xs:element minOccurs="0" name="rfid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCardToEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SapSoapCardWriter.BusinessLogic.SapService" minOccurs="0" name="RegisterCardToEventResult" nillable="true" type="q5:CardEventRegistrationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>