SapSoapCardWriter.GUI/Service References/NakCardService/NakCardService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MockSapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MockSapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginData" nillable="true" type="tns:LoginData" />
  <xs:complexType name="CardData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllEncryptedData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicEncryptedData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UIData" nillable="true" type="tns:CardUIData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardData" nillable="true" type="tns:CardData" />
  <xs:complexType name="CardUIData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardUIData" nillable="true" type="tns:CardUIData" />
</xs:schema>