SapSoapCardWriter.GUI/Service References/NakCardService/NakCardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NakCardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60108/NakCardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60108/NakCardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60108/NakCardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SapSoapCardWriter.BusinessLogic.SapService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INakCardService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="INakCardService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="INakCardService_GetCardData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardData" />
  </wsdl:message>
  <wsdl:message name="INakCardService_GetCardData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardDataResponse" />
  </wsdl:message>
  <wsdl:message name="INakCardService_ReportSuccess_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportSuccess" />
  </wsdl:message>
  <wsdl:message name="INakCardService_ReportSuccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportSuccessResponse" />
  </wsdl:message>
  <wsdl:message name="INakCardService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="INakCardService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="INakCardService_RegisterCardToEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCardToEvent" />
  </wsdl:message>
  <wsdl:message name="INakCardService_RegisterCardToEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCardToEventResponse" />
  </wsdl:message>
  <wsdl:portType name="INakCardService">
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/INakCardService/ValidateUser" message="tns:INakCardService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INakCardService/ValidateUserResponse" message="tns:INakCardService_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardData">
      <wsdl:input wsaw:Action="http://tempuri.org/INakCardService/GetCardData" message="tns:INakCardService_GetCardData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INakCardService/GetCardDataResponse" message="tns:INakCardService_GetCardData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportSuccess">
      <wsdl:input wsaw:Action="http://tempuri.org/INakCardService/ReportSuccess" message="tns:INakCardService_ReportSuccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INakCardService/ReportSuccessResponse" message="tns:INakCardService_ReportSuccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/INakCardService/GetEvents" message="tns:INakCardService_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INakCardService/GetEventsResponse" message="tns:INakCardService_GetEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCardToEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/INakCardService/RegisterCardToEvent" message="tns:INakCardService_RegisterCardToEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INakCardService/RegisterCardToEventResponse" message="tns:INakCardService_RegisterCardToEvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INakCardService" type="tns:INakCardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/INakCardService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardData">
      <soap:operation soapAction="http://tempuri.org/INakCardService/GetCardData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportSuccess">
      <soap:operation soapAction="http://tempuri.org/INakCardService/ReportSuccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/INakCardService/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCardToEvent">
      <soap:operation soapAction="http://tempuri.org/INakCardService/RegisterCardToEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NakCardService">
    <wsdl:port name="BasicHttpBinding_INakCardService" binding="tns:BasicHttpBinding_INakCardService">
      <soap:address location="http://localhost:60108/NakCardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>